

.dresscode {
}

.dresscode__text {
    max-width: 30rem;
    color: #253759;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    z-index: 99999;
    font-family: "Montserrat", sans-serif;
}

.dresscode__content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.dresscode__colors {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.dresscode__color {
    border-radius: .5rem;
    overflow: hidden;
    -webkit-box-shadow: 14px 14px 18px -11px rgba(37,55,89,0.28);
    -moz-box-shadow: 14px 14px 18px -11px rgba(37,55,89,0.28);
    box-shadow: 3px 3px 5px 0px rgba(37,55,89,0.28);
}

.dresscode__color > * {
    display: block;
}

.dresscode__female,
.dresscode__male {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}


.dresscode__female-card {
    transform: rotate(-1deg);
}

.dresscode__male-card {
    transform: rotate(1deg);
}

.dresscode__card {
    padding-top: 1.5rem;
    gap: 2rem;
    text-align: center;
}


@media (max-width: 600px) {
    .dresscode__card  {
        max-width: 10rem;
    }

    .common_card__img {
        display: block;
        width: fit-content;
    }
    
    .common_card__img {
        max-width: 7rem;
    }
}