.hero__photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero__title {
    text-align: center;
}

.hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 600px) {
    .hero__card-photo {
        max-width: 8rem;
    }
}
