.common_card {
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    -webkit-box-shadow: 14px 14px 18px -11px rgba(37,55,89,0.28);
    -moz-box-shadow: 14px 14px 18px -11px rgba(37,55,89,0.28);
    box-shadow: 14px 14px 18px -11px rgba(37,55,89,0.28);
    border: #25375950 1px solid;
    
}

.common_card__img {
    max-width: 15rem;
}

.common_card__text {
    font-size: 1.5rem;
    font-weight: 300;
    max-width: 14rem;
    box-shadow: #253759;
}