.body {
  font-family: "Caveat", cursive;
}

.container {
    margin-inline: auto;
    padding: 0 1.5rem;
    max-width: calc(1110px + 2rem);
}

.hero__inner,
.greetings__inner,
.sweety__inner,
.schedule__inner,
.location__inner,
.dresscode__inner,
.wishes__inner,
.blank__inner,
.contact__inner,
.waiting__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-height: 100vh;
    padding-block: 2rem;
    overflow: hidden;
}

.card__sasha {
    transform: rotate(-6deg);
    animation: rotate-sasha 8s infinite linear;
}

@keyframes rotate-sasha {
    0% {
        transform: rotate(-6deg);
    }
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    75% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(-6deg);
    }
}

.card__ksusha {
    transform: rotate(6deg) translateY(2rem);
    animation: rotate-ksusha 8s infinite linear;
}

@keyframes rotate-ksusha {
    0% {
        transform: rotate(6deg) translateY(2rem);
    }
    25% {
        transform: rotate(4deg) translateY(2rem);
    }
    50% {
        transform: rotate(6deg) translateY(2rem);
    }
    75% {
        transform: rotate(8deg) translateY(2rem);
    }
    100% {
        transform: rotate(6deg) translateY(2rem);
    }
}

.hero__title,
.greetings__title,
.sweety__title,
.schedule__title,
.location__title,
.dresscode__title,
.wishes__title,
.blank__title,
.contact__title,
.waiting__title {
    font-size: 4rem;
    color: #253759;
    text-align: center;
}

.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.reveal-right {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-right.active {
    opacity: 1;
    transform: translateX(0);
}

.reveal-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.reveal-left.active {
    opacity: 1;
    transform: translateX(0);
}