.sweety__text {
    max-width: 30rem;
}

.sweety__date {
    max-width: 20rem;
    position: relative; /* Needed to position the pseudo-element */
    overflow: hidden; /* Ensures the pseudo-element stays within the border radius */
}

.sweety__date-img {
    display: block;
    width: 100%;
}
